
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    background-color: #bdc4ec;
}

.container{
        display: flex;
}

body{
    background-color: #bdc4ec;
}

.slider{
    width:70%;
    height: 400px;
    background-color: #000;
    margin-top:15px;
    margin-left:auto;
    margin-right: auto; 
    position: relative;
    border: 4px solid rgb(255, 255, 255);
    overflow: hidden;
}

h1{
    font-size: 50px;
    text-align: center;
    margin-top: 10px;
    margin-bottom: 0px;

    -webkit-text-stroke: 2px black;
   color: white;
   text-shadow:
       3px 3px 0 #000,
     -1px -1px 0 #000,  
      1px -1px 0 #000,
      -1px 1px 0 #000,
       1px 1px 0 #000;
   }

   h6{
    color:#000428;
    text-align: center;
    margin-top: 10px;
   }

   .slide{
    width: 100%;
    height: 100%;
    position: absolute;
    transition: 1s;
   }

   .btn{
  
    margin-top: 40px;
    text-align: center;
    
   }

   .btn button{
    width: 50px;
    height: 65px;
    font-size: 2.5rem;

   
}

   button{
    margin-top: 160px;
    margin-left: 20px;
    margin-right: 20px;
    border: none;
    cursor: pointer;
}
.marks{
    text-align: center;
    margin-top: 10px;
   
}
.dot {
    cursor: pointer;
    height: 15px;
    width: 15px;
    margin: 0 2px;
    background-color: rgb(4, 19, 61);
    border-radius: 50%;
    display: inline-block;
    transition: background-color 0.6s ease;
  }

  .active,.dot:hover {
    background-color: #ffffff;
  }




